<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{username}} {{sub}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header>
      <ul id="slide-out" class="side-nav fixed">
        <li><a href="/r/AskReddit">r/AskReddit</a></li>
        <li><a href="/r/funny">r/funny</a></li>
        <li><a href="/r/pics">r/pics</a></li>
        <li><a href="/r/science">r/science</a></li>
        <li><a href="/r/todayilearned">r/todayilearned</a></li>
        <li><a href="/r/videos">r/videos</a></li>
        <li><a href="/r/worldnews">r/worldnews</a></li>
        <li><a href="/r/WTF">r/WTF</a></li>

        <li style="display: none;"><a class="modal-trigger" href="#modal1">Change your Username</a></li>
        <!-- <li><a class="modal-trigger waves-effect waves-light btn" href="#modal1">Pick a Subreddit</a></li> -->
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </header>

    <main>
      <div class="container">
        <div id="chat">
        </div>
        <div class="row">
          <input id="chat-box" class="col m12" type="text"/>
        </div>
      </div>
    </main>

    <div id="modal1" class="modal">
      <div class="modal-content">
        {% if not sub%}
          <h4>Choose your subreddit</h4>
          <div class="container">
            <div class="row">
              <!-- Dropdown Trigger -->
              <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Subreddits</a>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="/r/askreddit">AskReddit</a></li>
                <li><a href="/r/aww">Aww</a></li>
                <li><a href="/r/funny">Funny</a></li>
                <li><a href="/r/science">Science</a></li>
                <li><a href="/r/DIY">DIY</a></li>

              </ul>

            </div>

          </div>
          {% else %}

          <h4>Choose your username</h4>

        <div class="container">
          <div class="row">
            <input id="username" class="col m12" type="text" name="name" value="">
          </div>
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <div href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</div>
      </div>
    </div>



    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

      <script type="text/javascript" charset="utf-8">
          function closeWindow(){
            window.location.replace(window.location.href + "/" + $("#username").val());
          }
          $(document).ready(function(){
            $('select').material_select();
            $('.dropdown-button').dropdown({
                  inDuration: 300,
                  outDuration: 225,
                  constrain_width: false, // Does not change width of dropdown to that of the activator
                  hover: true, // Activate on hover
                  gutter: 0, // Spacing from edge
                  belowOrigin: false, // Displays dropdown below the button
                  alignment: 'left' // Displays dropdown with edge aligned to the left of button
                }
              );
            $('.modal-trigger').leanModal({
              dismissible: true, // Modal can be dismissed by clicking outside of the modal
              opacity: .5, // Opacity of modal background
              in_duration: 300, // Transition in duration
              out_duration: 200, // Transition out duration
              ready: function() {  }, // Callback for Modal open
              complete: function() { closeWindow(); } // Callback for Modal close
            })
            {% if not username %}
              .click();
            {% else %}
              var socket = io.connect('http://' + document.domain + ':' + location.port);
              socket.on('connect', function() {
                  socket.emit('join_room', {username: "{{username}}", room: "{{sub}}"});
              });
              $chat = $('#chat');
              $chatbox = $('#chat-box')
              $chatbox.keyup(function(event){
                if(event.keyCode == 13){
                  socket.emit("send_message", {message: $chatbox.val(), username: "{{username}}", room: "{{sub}}"});
                  $("<div class=\"row\"></div>")
                    .appendTo($chat)
                    .append("<li class=\"my-messages mine message col m4 offset-m8\">"+$chatbox.val()+"</li>")
                  $chatbox.val(" ")
                }
              })
              socket.on('send_message', function(message, username){
                $("<div class=\"row\"></div>")
                  .appendTo($chat)
                  .append("<li class=\"their-messages message col m4\">"+username+": "+message+"</li>")
              })
            {% endif %}

          })
      </script>

  </body>
</html>
